<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META http-equiv=Content-Type content="text/html; charset=utf-8">
	<TITLE>按单位角色指派</TITLE>
	<META NAME="Author" CONTENT="Witson">
	<link rel="stylesheet" type="text/css" href="../../../js/flow/images/style.css" />
	<link rel="stylesheet" type="text/css" href="../../../js/flow/themes/flat/style.css" />
	<script type="text/javascript" src="../../../js/flow/jt.js"></script>
</HEAD>
<script type="text/javascript">

var strTem=self.location.href;
strTem = strTem.substr(strTem.indexOf('.html?parVal=')+13);
var idx=parseInt(strTem);

function funOK(){
	var sXML='';
  sXML += '<assignment type="com.zefu.zfos.flowEngine.service.assignment.SubRoleAssignment">\n';
  sXML += '	<arg name="companyLevel">'+jsfw.$('companyLevel').value+'</arg>\n';
  sXML += '	<arg name="roleid">'+jsfw.$('roleid').value+'</arg>\n';
  sXML += '	<arg name="roleName">'+jsfw.$('roleName').value+'</arg>\n';
  sXML += '</assignment>';
	parent.addStateAssignment_After(sXML,idx);
	parent.closeDialog(self);
}

function loadData(){
	
	jsfw.$('divLoading').style.display = 'none';
	//加载本地的txt配置文件
	jsfw.Ajax.loadHttp(parent.CST_URL_CompanyAssignment, true, load_Com);

	

	var UMS_RoleByCompanyIdUrl = '../../../../sysmgr/engineUser?api=selectPublicRole'
		var sURL = UMS_RoleByCompanyIdUrl;
		jt.getJSON(sURL, function (json) {
			jt._("#roleName").loadData(json);
s
		});
    hideLoading();
}

function load_Com(r){
	var arr=eval(jsfw.xssFilter(r.responseText));
	jsfw.$('td_company').innerHTML=getSelHTML('companyLevel',arr);
	
	if (idx==-1) return;
	var oNode = parent.oFlow.getCurrentObj();
	var oNodes= oNode.selectNodes('assignment')[idx].selectNodes('arg');
	for (var i=0; i<oNodes.length; i++){
		try{
			jsfw.$(oNodes[i].getAttribute('name')).value = oNodes[i].text;
		}catch(e){}
	}
	hideLoading();
}

function load_Cor(r){
	var arr=eval(jsfw.xssFilter(r.responseText));
	jsfw.$('td_corper').innerHTML=getSelHTML('encorname',arr);
	hideLoading();
}
function load_Pos(r){
	var arr=eval(jsfw.xssFilter(r.responseText));
	jsfw.$('td_roleid').innerHTML=getSelHTML('roleid',arr);
	hideLoading();
}
// function findEncorRole(){
// 	var org_id = document.getElementById('encorname').value;
// 	//alert(parent.CST_URL_SubRoleAssignment+'&org_id='+org_id);
// 	jsfw.Ajax.loadHttp(parent.CST_URL_SubRoleAssignment+'&org_id='+org_id, true, load_Pos);
// }

function getSelHTML(sID,arr){
	var sHTML='<select id="'+sID+'">';
	if(sID == 'encorname'){
		sHTML='<select id="'+sID+'" onchange="findEncorRole()"> ';
	}
	for (var i=0; i<arr.length; i++){
		sHTML += '<option value="'+arr[i][0]+'">'+arr[i][1]+'</option>';
	}
	sHTML += '</select>';
	return sHTML;
}

function hideLoading(){
	// if (jsfw.$('td_corper').innerHTML=='') return;
	if (jsfw.$('td_roleid').innerHTML=='') return;
	jsfw.$('divLoading').style.display = 'none';
	if (idx==-1) return;
	var oNode = parent.oFlow.getCurrentObj();
	var oNodes= oNode.selectNodes('assignment')[idx].selectNodes('arg');
	for (var i=0; i<oNodes.length; i++){
		try{
			jsfw.$(oNodes[i].getAttribute('name')).value = oNodes[i].innerHTML;
		}catch(e){}
	}
}

function selectDept(){
    var companyId = jt._('#encorname').value;
    if(companyId == null || companyId == ''){
        showMsg('先选择单位信息');
        return;
    }
    funSelectTree_Org('department','departmentName',false,false,companyId);
}

function selectRole(){
    var companyId = jt._('#encorname').value;
    if(companyId == null || companyId == ''){
        showMsg('先选择单位信息');
        return;
    }
    //funSelectTree_Role('roleId','roleName',false,companyId);

    //远程action请求,加载角色类型
    var sURL = UMS_RoleByCompanyIdUrl+"?companyId="+companyId;
    jt.getJSONP(sURL,function(json){
        jt._("#roleName").loadData(json);
    });
}
</script>

<BODY loadWebUI="Toolbar" scroll="no" onload="loadData()">

<table width="100%" style="table-layout:fixed;height:100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td height="28">
			<div class="Toolbar" style="padding-left:10px;">
			<xmp style="display:none">
				<root>
					<item text="确定" icon="../../../js/flow/images/icon/check.gif" action="funOK();"/>
					<item text="取消" icon="../../../js/flow/images/icon/close.gif" action="parent.closeDialog(self);"/>
				</root>
			</xmp>
			</div>
		</td>
	</tr>
	<tr>
		<td valign="top" align="center" style="padding-top:5px;">
			<table border="0" cellpadding="3" cellspacing="0">
				<tr>
					<td>单位</td>
					<td id="td_company"></td>
				</tr>
				<tr>
					<td>角色</td>
					<td id="td_roleid">
						<input  id="roleName" type="text" class="Input_Select" field="{name}"  ListHeight="200" ListWidth="200" style="width: 200px;"
								input2="roleid" field2="{id}" SearchField="id,name">
						<input id="roleid" type="hidden">
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div id="divLoading" style="position:absolute;width:180px;height:40px;top:40%;left:12%;padding:15px;background-color:#FFFFE1;border:1px solid black;text-align:center;">正在加载数据....</div>
</BODY>
</HTML>
<script type="text/javascript" src="../../../js/lib/jsfw/boot.js" loadClass="" loadPrototype="Array" loadWebUI="" Theme="Default"></script>