
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
    <style>
        .fontclass{
            display:none;
        }
        .bgColor{
        background: #1E9FFF;
        }
    </style>
</head>
<body>
    <div class="main markdown">
        <!-- <h1>IconFont 图标</h1> -->
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-button-tijiao-4"></i>
                    <div class="name">对</div>
                    <div class="fontclass">.icon-button-tijiao-4</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-jian-1"></i>
                    <div class="name">减</div>
                    <div class="fontclass">.icon-button-jian-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-zengjia"></i>
                    <div class="name">增加</div>
                    <div class="fontclass">.icon-SZYD-zengjia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-cha-2"></i>
                    <div class="name">删除 关闭 叉</div>
                    <div class="fontclass">.icon-button-cha-2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-jinyong-1"></i>
                    <div class="name">禁用</div>
                    <div class="fontclass">.icon-button-jinyong-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-zhongzhi-1"></i>
                    <div class="name">重置</div>
                    <div class="fontclass">.icon-button-zhongzhi-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-top"></i>
                    <div class="name">方向 - 上</div>
                    <div class="fontclass">.icon-SZYD-top</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-directionbottom"></i>
                    <div class="name">方向 - 下</div>
                    <div class="fontclass">.icon-SZYD-directionbottom</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-bianji-4"></i>
                    <div class="name">编辑</div>
                    <div class="fontclass">.icon-button-bianji-4</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-shaixuantiaojian"></i>
                    <div class="name">筛选</div>
                    <div class="fontclass">.icon-DEZJ-shaixuantiaojian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-shouqicaidan"></i>
                    <div class="name">收起菜单</div>
                    <div class="fontclass">.icon-DEZJ-shouqicaidan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-zhankaicaidan"></i>
                    <div class="name">展开菜单</div>
                    <div class="fontclass">.icon-DEZJ-zhankaicaidan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-guanji-1"></i>
                    <div class="name">退出</div>
                    <div class="fontclass">.icon-button-guanji-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-bianji-3"></i>
                    <div class="name">编辑</div>
                    <div class="fontclass">.icon-button-bianji-3</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-cha-1"></i>
                    <div class="name">叉</div>
                    <div class="fontclass">.icon-button-cha-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-fangxiang-zuo"></i>
                    <div class="name">方向 - 左</div>
                    <div class="fontclass">.icon-SZYD-fangxiang-zuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-daochu-1"></i>
                    <div class="name">导出</div>
                    <div class="fontclass">.icon-button-daochu-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-daoru-1"></i>
                    <div class="name">导入</div>
                    <div class="fontclass">.icon-button-daoru-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-fangxiangyou"></i>
                    <div class="name">方向 - 右</div>
                    <div class="fontclass">.icon-SZYD-fangxiangyou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-bianji-2"></i>
                    <div class="name">编辑</div>
                    <div class="fontclass">.icon-button-bianji-2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-ck-1"></i>
                    <div class="name">放大镜</div>
                    <div class="fontclass">.icon-button-ck-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-jy-1"></i>
                    <div class="name">禁用</div>
                    <div class="fontclass">.icon-button-jy-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-ck-2"></i>
                    <div class="name">查看历史</div>
                    <div class="fontclass">.icon-button-ck-2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-hh-1"></i>
                    <div class="name">恢复</div>
                    <div class="fontclass">.icon-button-hh-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-tijiao-1"></i>
                    <div class="name">核准</div>
                    <div class="fontclass">.icon-button-tijiao-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-sc-2"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.icon-button-sc-2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-cx-1"></i>
                    <div class="name">撤销</div>
                    <div class="fontclass">.icon-button-cx-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-sc-1"></i>
                    <div class="name">上传</div>
                    <div class="fontclass">.icon-button-sc-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-xiazai-2"></i>
                    <div class="name">数据下载</div>
                    <div class="fontclass">.icon-button-xiazai-2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-tijiao-2"></i>
                    <div class="name">提交</div>
                    <div class="fontclass">.icon-button-tijiao-2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-xinzen-1"></i>
                    <div class="name">新增</div>
                    <div class="fontclass">.icon-button-xinzen-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-xiazai-1"></i>
                    <div class="name">模板下载</div>
                    <div class="fontclass">.icon-button-xiazai-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-tuichu-1"></i>
                    <div class="name">退出</div>
                    <div class="fontclass">.icon-button-tuichu-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-jia-1"></i>
                    <div class="name">新增</div>
                    <div class="fontclass">.icon-button-jia-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-tijiao-3"></i>
                    <div class="name">启用</div>
                    <div class="fontclass">.icon-button-tijiao-3</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-bainji-1"></i>
                    <div class="name">编辑</div>
                    <div class="fontclass">.icon-button-bainji-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-xiaji"></i>
                    <div class="name">下级</div>
                    <div class="fontclass">.icon-button-xiaji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-shangji"></i>
                    <div class="name">上级</div>
                    <div class="fontclass">.icon-button-shangji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-button-jiebang"></i>
                    <div class="name">解绑</div>
                    <div class="fontclass">.icon-button-jiebang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-lszs"></i>
                    <div class="name">历史追溯</div>
                    <div class="fontclass">.icon-DEZJ-lszs</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-yewushuliang"></i>
                    <div class="name">业务数量</div>
                    <div class="fontclass">.icon-DEZJ-yewushuliang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-guanbi"></i>
                    <div class="name">叉号</div>
                    <div class="fontclass">.icon-DEZJ-guanbi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-yangqishuliang"></i>
                    <div class="name">央企数量</div>
                    <div class="fontclass">.icon-DEZJ-yangqishuliang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-renwushuliang"></i>
                    <div class="name">任务数量</div>
                    <div class="fontclass">.icon-DEZJ-renwushuliang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-muluguanli"></i>
                    <div class="name">目录管理</div>
                    <div class="fontclass">.icon-DEZJ-muluguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-mobanliexiangguanli"></i>
                    <div class="name">模板列项管理</div>
                    <div class="fontclass">.icon-DEZJ-mobanliexiangguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-caijitiaodurizhi"></i>
                    <div class="name">采集调度日志</div>
                    <div class="fontclass">.icon-DEZJ-caijitiaodurizhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-caijijiankong"></i>
                    <div class="name">采集监控</div>
                    <div class="fontclass">.icon-DEZJ-caijijiankong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-shujubaosong"></i>
                    <div class="name">数据报送</div>
                    <div class="fontclass">.icon-DEZJ-shujubaosong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-renwutiaodu"></i>
                    <div class="name">任务调度</div>
                    <div class="fontclass">.icon-DEZJ-renwutiaodu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-miyuexinxi"></i>
                    <div class="name">密钥信息</div>
                    <div class="fontclass">.icon-DEZJ-miyuexinxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-renwutiaoduxinxi"></i>
                    <div class="name">任务调度信息</div>
                    <div class="fontclass">.icon-DEZJ-renwutiaoduxinxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-tongzhigonggaochaxun"></i>
                    <div class="name">通知公告查询</div>
                    <div class="fontclass">.icon-DEZJ-tongzhigonggaochaxun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-mobanxinxi"></i>
                    <div class="name">模板信息</div>
                    <div class="fontclass">.icon-DEZJ-mobanxinxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-xitongshujuzidianguanli"></i>
                    <div class="name">系统数据字典管理</div>
                    <div class="fontclass">.icon-DEZJ-xitongshujuzidianguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-xitonghangzhengquhuaguanli"></i>
                    <div class="name">系统行政区划管理</div>
                    <div class="fontclass">.icon-DEZJ-xitonghangzhengquhuaguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-xitonggangweiguanli"></i>
                    <div class="name">系统岗位管理</div>
                    <div class="fontclass">.icon-DEZJ-xitonggangweiguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-xitongcaidanguanli"></i>
                    <div class="name">系统菜单管理</div>
                    <div class="fontclass">.icon-DEZJ-xitongcaidanguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-xitongrizhiguanli"></i>
                    <div class="name">系统日志管理</div>
                    <div class="fontclass">.icon-DEZJ-xitongrizhiguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-xitongquanxianguanli"></i>
                    <div class="name">系统权限管理</div>
                    <div class="fontclass">.icon-DEZJ-xitongquanxianguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-xitongyonghuguanli"></i>
                    <div class="name">系统用户管理</div>
                    <div class="fontclass">.icon-DEZJ-xitongyonghuguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-yijianshengcheng"></i>
                    <div class="name">一键生成</div>
                    <div class="fontclass">.icon-DEZJ-yijianshengcheng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-xitongzuzhiguanli"></i>
                    <div class="name">系统组织管理</div>
                    <div class="fontclass">.icon-DEZJ-xitongzuzhiguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-zhuaquzhuisu"></i>
                    <div class="name">抓取追溯</div>
                    <div class="fontclass">.icon-DEZJ-zhuaquzhuisu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-caijirenwuxinxi"></i>
                    <div class="name">采集任务信息</div>
                    <div class="fontclass">.icon-DEZJ-caijirenwuxinxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-buchuanrenwuzhuisu"></i>
                    <div class="name">补传任务追溯</div>
                    <div class="fontclass">.icon-DEZJ-buchuanrenwuzhuisu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-caijizhihangqiguanli"></i>
                    <div class="name">采集执行器管理</div>
                    <div class="fontclass">.icon-DEZJ-caijizhihangqiguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-caijiguanli"></i>
                    <div class="name">采集管理</div>
                    <div class="fontclass">.icon-DEZJ-caijiguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-caijitiaoduguanli"></i>
                    <div class="name">采集调度管理</div>
                    <div class="fontclass">.icon-DEZJ-caijitiaoduguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-mobanzhuisu"></i>
                    <div class="name">模板追溯</div>
                    <div class="fontclass">.icon-DEZJ-mobanzhuisu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-dingshirenwuchaxun"></i>
                    <div class="name">定时任务查询</div>
                    <div class="fontclass">.icon-DEZJ-dingshirenwuchaxun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-miyuechaxun"></i>
                    <div class="name">密钥查询</div>
                    <div class="fontclass">.icon-DEZJ-miyuechaxun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-shujubaosongrizhi"></i>
                    <div class="name">数据报送日志</div>
                    <div class="fontclass">.icon-DEZJ-shujubaosongrizhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-miyuezhuisu"></i>
                    <div class="name">密钥追溯</div>
                    <div class="fontclass">.icon-DEZJ-miyuezhuisu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-shujudongtaijiancecaijixitong"></i>
                    <div class="name">数据动态监测采集系统</div>
                    <div class="fontclass">.icon-DEZJ-shujudongtaijiancecaijixitong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-tongzhigonggaozhuisu"></i>
                    <div class="name">通知公告追溯</div>
                    <div class="fontclass">.icon-DEZJ-tongzhigonggaozhuisu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-yangqiqiyeshujudongtaijianceyingyong"></i>
                    <div class="name">央企企业数据动态监测应用</div>
                    <div class="fontclass">.icon-DEZJ-yangqiqiyeshujudongtaijianceyingyong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-yangqiyewuguanlianguanli"></i>
                    <div class="name">央企业务关联管理</div>
                    <div class="fontclass">.icon-DEZJ-yangqiyewuguanlianguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-shujujiexifuwu"></i>
                    <div class="name">数据解析服务</div>
                    <div class="fontclass">.icon-DEZJ-shujujiexifuwu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-xitongguanli"></i>
                    <div class="name">系统管理</div>
                    <div class="fontclass">.icon-DEZJ-xitongguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-miyueguanli"></i>
                    <div class="name">密钥管理</div>
                    <div class="fontclass">.icon-DEZJ-miyueguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-tongzhigonggao"></i>
                    <div class="name">通知公告</div>
                    <div class="fontclass">.icon-DEZJ-tongzhigonggao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-caijijiankongguanli"></i>
                    <div class="name">采集监控管理</div>
                    <div class="fontclass">.icon-DEZJ-caijijiankongguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-mobanguanli"></i>
                    <div class="name">模板管理</div>
                    <div class="fontclass">.icon-DEZJ-mobanguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-renwuguanli"></i>
                    <div class="name">任务管理</div>
                    <div class="fontclass">.icon-DEZJ-renwuguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-buchuanrenwutongzhiguanli"></i>
                    <div class="name">补传任务通知管理</div>
                    <div class="fontclass">.icon-DEZJ-buchuanrenwutongzhiguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-tongzhigonggaoguanli"></i>
                    <div class="name">通知公告管理</div>
                    <div class="fontclass">.icon-DEZJ-tongzhigonggaoguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-yangqiguanli"></i>
                    <div class="name">央企管理</div>
                    <div class="fontclass">.icon-DEZJ-yangqiguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-yewuleixingguanli"></i>
                    <div class="name">业务类型管理</div>
                    <div class="fontclass">.icon-DEZJ-yewuleixingguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-yangqixinxi"></i>
                    <div class="name">央企信息</div>
                    <div class="fontclass">.icon-DEZJ-yangqixinxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-shujuquanxianguanli"></i>
                    <div class="name">数据权限管理</div>
                    <div class="fontclass">.icon-DEZJ-shujuquanxianguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-xitongpeizhi1"></i>
                    <div class="name">系统配置</div>
                    <div class="fontclass">.icon-DEZJ-xitongpeizhi1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-DEZJ-xitongshengjirizhi"></i>
                    <div class="name">系统升级日志</div>
                    <div class="fontclass">.icon-DEZJ-xitongshengjirizhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-huishouzhanguanli"></i>
                    <div class="name">回收站管理</div>
                    <div class="fontclass">.icon-SZYD-huishouzhanguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-gongyongshuguanli"></i>
                    <div class="name">公用树管理</div>
                    <div class="fontclass">.icon-SZYD-gongyongshuguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-jiekoupeizhi"></i>
                    <div class="name">接口配置</div>
                    <div class="fontclass">.icon-SZYD-jiekoupeizhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-juecehuishouzhan"></i>
                    <div class="name">决策回收站</div>
                    <div class="fontclass">.icon-SZYD-juecehuishouzhan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-minganshixiang"></i>
                    <div class="name">敏感事项</div>
                    <div class="fontclass">.icon-SZYD-minganshixiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-jutiduixiang"></i>
                    <div class="name">具体对象</div>
                    <div class="fontclass">.icon-SZYD-jutiduixiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-juecehuiyi"></i>
                    <div class="name">决策会议</div>
                    <div class="fontclass">.icon-SZYD-juecehuiyi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-shengchengliebiao"></i>
                    <div class="name">生成列表</div>
                    <div class="fontclass">.icon-SZYD-shengchengliebiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-scshlb"></i>
                    <div class="name">生成树和列表</div>
                    <div class="fontclass">.icon-SZYD-scshlb</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-shixianghuishouzhan"></i>
                    <div class="name">事项回收站</div>
                    <div class="fontclass">.icon-SZYD-shixianghuishouzhan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-mgsxxzdw"></i>
                    <div class="name">敏感事项限制单位</div>
                    <div class="fontclass">.icon-SZYD-mgsxxzdw</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-shixiangqingdan"></i>
                    <div class="name">事项清单</div>
                    <div class="fontclass">.icon-SZYD-shixiangqingdan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-shujujiaosequanxian"></i>
                    <div class="name">数据角色权限</div>
                    <div class="fontclass">.icon-SZYD-shujujiaosequanxian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-shujutianbaoguanli"></i>
                    <div class="name">数据填报管理</div>
                    <div class="fontclass">.icon-SZYD-shujutianbaoguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-shujujiaoserenyuan"></i>
                    <div class="name">数据角色人员</div>
                    <div class="fontclass">.icon-SZYD-shujujiaoserenyuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-shujuyuanbiaoguanli"></i>
                    <div class="name">数据源表管理</div>
                    <div class="fontclass">.icon-SZYD-shujuyuanbiaoguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-shujushangbaorizhi"></i>
                    <div class="name">数据上报日志</div>
                    <div class="fontclass">.icon-SZYD-shujushangbaorizhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-xitongcaidanguanli"></i>
                    <div class="name">系统菜单管理</div>
                    <div class="fontclass">.icon-SZYD-xitongcaidanguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-xitongguanli"></i>
                    <div class="name">系统管理</div>
                    <div class="fontclass">.icon-SZYD-xitongguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-xitongyonghuguanli"></i>
                    <div class="name">系统用户管理</div>
                    <div class="fontclass">.icon-SZYD-xitongyonghuguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-zhiduhuishouzhan"></i>
                    <div class="name">制度回收站</div>
                    <div class="fontclass">.icon-SZYD-zhiduhuishouzhan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-xitongquanxianguanli"></i>
                    <div class="name">系统权限管理</div>
                    <div class="fontclass">.icon-SZYD-xitongquanxianguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-yijianshengcheng"></i>
                    <div class="name">一键生成</div>
                    <div class="fontclass">.icon-SZYD-yijianshengcheng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-zhiduxinxi"></i>
                    <div class="name">制度信息</div>
                    <div class="fontclass">.icon-SZYD-zhiduxinxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-zhuijiadaima"></i>
                    <div class="name">追加代码</div>
                    <div class="fontclass">.icon-SZYD-zhuijiadaima</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-gai"></i>
                    <div class="name">改</div>
                    <div class="fontclass">.icon-SZYD-gai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-cha"></i>
                    <div class="name">查</div>
                    <div class="fontclass">.icon-SZYD-cha</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-biaojuefangshi"></i>
                    <div class="name">表决方式</div>
                    <div class="fontclass">.icon-SZYD-biaojuefangshi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-shujujiaose"></i>
                    <div class="name">数据角色</div>
                    <div class="fontclass">.icon-SZYD-shujujiaose</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-shan"></i>
                    <div class="name">删</div>
                    <div class="fontclass">.icon-SZYD-shan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-sbgl"></i>
                    <div class="name">上报管理</div>
                    <div class="fontclass">.icon-SZYD-sbgl</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-rwlyxinxi"></i>
                    <div class="name">任务来源信息</div>
                    <div class="fontclass">.icon-SZYD-rwlyxinxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-shixiangmulu"></i>
                    <div class="name">事项目录</div>
                    <div class="fontclass">.icon-SZYD-shixiangmulu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-huiyileixing"></i>
                    <div class="name">会议类型</div>
                    <div class="fontclass">.icon-SZYD-huiyileixing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-sjsbguanli"></i>
                    <div class="name">数据上报管理</div>
                    <div class="fontclass">.icon-SZYD-sjsbguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-tbyijugl"></i>
                    <div class="name">填报依据管理</div>
                    <div class="fontclass">.icon-SZYD-tbyijugl</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-sjqxgl"></i>
                    <div class="name">数据权限管理</div>
                    <div class="fontclass">.icon-SZYD-sjqxgl</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-xtxzqhgl"></i>
                    <div class="name">系统行政区划管理</div>
                    <div class="fontclass">.icon-SZYD-xtxzqhgl</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-xtsjzdgl"></i>
                    <div class="name">系统数据字典管理</div>
                    <div class="fontclass">.icon-SZYD-xtsjzdgl</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-xtzzgl"></i>
                    <div class="name">系统组织管理</div>
                    <div class="fontclass">.icon-SZYD-xtzzgl</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-zhiduleixing"></i>
                    <div class="name">制度类型</div>
                    <div class="fontclass">.icon-SZYD-zhiduleixing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-zxmcxx"></i>
                    <div class="name">专项名称信息</div>
                    <div class="fontclass">.icon-SZYD-zxmcxx</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-quan-xiangxia"></i>
                    <div class="name">圈-向下</div>
                    <div class="fontclass">.icon-SZYD-quan-xiangxia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-quan-xiangshang"></i>
                    <div class="name">圈-向上</div>
                    <div class="fontclass">.icon-SZYD-quan-xiangshang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-quan-xiangyou"></i>
                    <div class="name">圈-向右</div>
                    <div class="fontclass">.icon-SZYD-quan-xiangyou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-quan-xiangzuo"></i>
                    <div class="name">圈-向左</div>
                    <div class="fontclass">.icon-SZYD-quan-xiangzuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-bianji"></i>
                    <div class="name">编辑</div>
                    <div class="fontclass">.icon-SZYD-bianji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-jinyong"></i>
                    <div class="name">禁用</div>
                    <div class="fontclass">.icon-SZYD-jinyong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-jiechubangding"></i>
                    <div class="name">解除绑定</div>
                    <div class="fontclass">.icon-SZYD-jiechubangding</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-qiyong"></i>
                    <div class="name">启用</div>
                    <div class="fontclass">.icon-SZYD-qiyong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-xuanshangji"></i>
                    <div class="name">选上级</div>
                    <div class="fontclass">.icon-SZYD-xuanshangji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-xuanxiaji"></i>
                    <div class="name">选下级</div>
                    <div class="fontclass">.icon-SZYD-xuanxiaji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-xuanzewenjian"></i>
                    <div class="name">选择文件</div>
                    <div class="fontclass">.icon-SZYD-xuanzewenjian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-cz-2"></i>
                    <div class="name">重置-2</div>
                    <div class="fontclass">.icon-SZYD-cz-2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-huanyuan"></i>
                    <div class="name">还原</div>
                    <div class="fontclass">.icon-SZYD-huanyuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-cz-3"></i>
                    <div class="name">重置-3</div>
                    <div class="fontclass">.icon-SZYD-cz-3</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-cz-4"></i>
                    <div class="name">重置-4</div>
                    <div class="fontclass">.icon-SZYD-cz-4</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-cz-1"></i>
                    <div class="name">重置-1</div>
                    <div class="fontclass">.icon-SZYD-cz-1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-zhongzhimima"></i>
                    <div class="name">重置密码</div>
                    <div class="fontclass">.icon-SZYD-zhongzhimima</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-daoru"></i>
                    <div class="name">导入</div>
                    <div class="fontclass">.icon-SZYD-daoru</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-fenfa"></i>
                    <div class="name">分发</div>
                    <div class="fontclass">.icon-SZYD-fenfa</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-liulan"></i>
                    <div class="name">浏览</div>
                    <div class="fontclass">.icon-SZYD-liulan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-fujian"></i>
                    <div class="name">附件</div>
                    <div class="fontclass">.icon-SZYD-fujian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-yiti"></i>
                    <div class="name">议题</div>
                    <div class="fontclass">.icon-SZYD-yiti</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-SZYD-tijiao"></i>
                    <div class="name">提交</div>
                    <div class="fontclass">.icon-SZYD-tijiao</div>
                </li>
            
        </ul>

        <!-- <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote> -->
    </div>
</body>
</html>
