
textarea.CodeEditor, div.CodeEditor{
	border: 1px solid lightgray; box-sizing: border-box;
	line-height: 16px;
}
textarea.CodeEditor, .CodeMirror *{
	font-size:12px;
	font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
/*
.CodeMirror-linenumber{
	color: #999 !important;
}
*/

.CodeMirror{
	height:auto;
}

/*
.CodeMirror-linenumber {
	width: 2.2em;
	color: #aaa;
	background-color: #eee;
	text-align: right;
	padding-right: .3em;
	font-size: 10pt;
	font-family: monospace;
	padding-top: .4em;
	line-height: 16px;
}
*/

/*
div.CodeEditorHighlight{
	font-family: Consolas, Monaco;
	line-height: 18px;
}
div.CodeEditorLite{
	overflow: auto;
}


*/

.jt_DateTime{
}

td.jt_DateTime_Title_Par{
	background-color: #99CCFF;
}
table.jt_DateTime_Title_Par{
	width: 100%;
	height:23px;
}
.jt_DateTime_PrevYear, .jt_DateTime_PrevMonth, .jt_DateTime_NextMonth, .jt_DateTime_NextYear {width:25px; cursor: pointer;}

.jt_DateTime_PrevYear {  background: no-repeat url('BGX.png') -100px -48px; }
.jt_DateTime_PrevMonth { background: no-repeat url('BGX.png') 0px -48px; }
.jt_DateTime_Title {background: repeat-x url('BGX.png') 0px -8px; text-align: center;}
.jt_DateTime_NextMonth { background: no-repeat url('BGX.png') -50px -48px; }
.jt_DateTime_NextYear {  background: no-repeat url('BGX.png') -150px -48px; }

.jt_DateTime_Date{ width:240px; }
.jt_DateTime_Time{ width:56px; text-align: center; border-left: 1px solid #CCCCCC}

.jt_DateTime_Date th{ background-color: #FAFAFA;}
.jt_DateTime_Date .dt_cwk{height: 24px; width:30px; text-align: center; cursor: default; background-color: #FAFAFA; }
.jt_DateTime_Date .dt_cday{height: 24px; width:30px; text-align: center; cursor: default; }

.jt_DateTime_Date .dt_cOtherMonth{color: #CCCCCC; }
.jt_DateTime_CurDay {background-color:#99CCFF;}
.jt_DateTime_Today {font-weight: bold; color: blue;}

.jt_DateTime_Time .dt_ctime{ cursor: default; line-height: 18px; }
.jt_DateTime_CurTime {background-color:#99CCFF;}

.jtGridPar{
	table-layout: fixed;
}
.jtGridHead{height:28px; }
.jtGridHead_table{ height:100%;table-layout:fixed; border-collapse:collapse; }
.jtGridBody{ overflow: hidden;}
.jtGridFoot{height:23px;}

.jtGrid{
	border-collapse:collapse
}
.jtGrid td{
	white-space:nowrap; 
	text-overflow:ellipsis; 
	overflow:hidden; 
}
/*	background-image: url('dotLine.gif');*/

.jtGridPar thead,.jtGridPar .GridHead td{
	background: repeat-x url('BGX.png') 0px -80px #EFEFEF;
	height:28px;
	font-weight:normal;
}

/*.Grid .trOver .tdLine{
	background-color:#F1F8FF;
}*/
.jtGridPar .GridCell{
	border:1px solid #92B9E4;
	height:28px;
}

.jtGrid .tr_odd{} /*奇数 <tr>*/ 
.jtGrid .tr_even{ background-color:#f3fcfe;} /*偶数 <tr>*/

.jtGrid .trOver{ background-color:#FFF3CB;}

/*NoBorder NoHead NoInterlaced*/
/*无边线 NoBorder*/
.NoBorder .GridCell{border:0px solid #92B9E4;}
/*无表头 NoHead*/
.NoHead thead, .NoHead .GridHead td{display:none;}
/*无间隔行  NoInterlaced*/
.NoInterlaced .tr_odd{background-color:transparent;}
.NoInterlaced .tr_even{background-color:transparent;}
.NoInterlaced .trOver{ background-color:#FFF3CB;}
/*鼠标移上去时颜色不变 (NoOverColor只能与NoInterlaced共用) NoOverColor*/
.NoOverColor .trOver{ background-color:transparent;}

.Grid_PageBar {  }

/*.Input_DateTime_DateTime{}*/

.Input_Select_List{
	overflow: auto;
}
.Input_Select_List_Item{ line-height: 24px; padding: 0px 10px; cursor:default; }
.Input_Select_List_Item_Over{ background-color:#FFF3CB; }
.Input_Select_List_Item_Sel{  background-color:#99CCFF; }



.List xmp.html{display:none;}
.List xmp.data{display:none;}

.jListItem{ padding:3px; cursor:default; }
.jListItem_Over{ background-color:#FFF3CB; }
.jListItem_Sel{  background-color:#99CCFF; }

.List_PageBar {  }

.OLM_Table{ 
	width: 100%;
	height: 100%;
}

TR.OLM_Title{}
TD.OLM_Title{
	background: #D6E1E9 repeat-x url('BGX.png') 0px -120px;
	height:39px; line-height: 34px;
	font-weight:bold; text-align:center; vertical-align:middle;
	white-space:nowrap; text-overflow:ellipsis; overflow:hidden; 
}

TR.OLM_Content{}
TD.OLM_Content{
	overflow:auto;
}

TR.OLM_Split{}
TD.OLM_Split{
	background: #7EA4E3 repeat-x url('BGX.png') 0px -160px;
	height:8px; text-align:center; cursor: row-resize;
}
DIV.OLM_Split{
	background: no-repeat url('BGX.png') 50% -360px;
	height:8px; text-align:center; cursor: row-resize;
}

TR.OLM_List_Item{}
TD.OLM_List_Item{
	background: #BFD7FF repeat-x url('BGX.png') 0px -200px;
	height:37px; padding-left:17px;
	white-space:nowrap; text-overflow:ellipsis; overflow:hidden; cursor: pointer;
}
TD.OLM_List_Item_Over{
	background: #D9EFFF repeat-x url('BGX.png') 0px -280px;
	cursor: pointer;
}
TD.OLM_List_Item_Sel{
	background: #D9EFFF repeat-x url('BGX.png') 0px -240px;
}

.OLM_Bottom_Item{ border: 1px solid transparent; display:inline-block; padding: 3px; cursor: pointer;}
.OLM_Bottom_Item {*display:inline;}
.OLM_Bottom_Item_Over{ border: 1px solid #95E0D4; cursor: pointer; }
.OLM_Bottom_Item_Sel{ border: 1px solid #008779; }



TR.OLM_Bottom{}
TD.OLM_Bottom{
	background: #BFD7FF repeat-x url('BGX.png') 0px -320px;
	height:28px; text-align:right; padding-right:4px;
}


.PopFrame{position:absolute; box-shadow: 0px 3px 6px #888888; z-index: 1;}
.PopFrame_Cell00{ border:1px solid #CCCCCC; background-color:#F5F5F5;}
.PopFrame_Cell01{ position:relative; overflow:hidden; padding-top:4px;}
.PopFrame_Cell10{ position:relative; overflow:hidden; padding-left:4px;}

.PopFrame_Cell11{ background: no-repeat url('BGX.png') -40px -420px; width:4px; height:4px;}
.PopFrame_TR{ background: no-repeat url('BGX.png') 0px -420px; width:4px; height:4px; position:absolute; top:0px; right:0px; }
.PopFrame_R{ background: repeat-y url('BGY.png') 0px 0px; width:4px; height:100%; }
.PopFrame_BL{ background: no-repeat url('BGX.png') -20px -420px; width:4px; height:4px; position:absolute; bottom:0px; left:0px; }
.PopFrame_B{ background: repeat-x url('BGX.png') 0px -400px; height:4px; width:100%; }

.IE6 .PopFrame_Cell11, .IE6 .PopFrame_TR, .IE6 .PopFrame_R, .IE6 .PopFrame_BL, .IE6 .PopFrame_B {background-image:none;}
.PopFrameIE6 {filter:Shadow(color=#999999,direction=135,strength=3);}

.jt_PopMsg{
	border:1px solid #98BBEF;
	background-color:white;
	padding-top:1px;
	padding-left:1px;
	padding-right:1px;
	padding-bottom:1px;
	overflow:hidden;
}
.jt_PopMsg .MsgTitle{
	background: repeat-x url('BGX.png') 0px -440px;
	height:24px;
}
.jt_PopMsg .MsgTitle .Title{
	padding-left:10px;
	font-weight:bold;
	cursor:default;
}
.jt_PopMsg .MsgTitle .Close{
	background: no-repeat url('BGX.png') 0px -650px;
	width:20px; cursor:pointer;
}
.jt_PopMsg .MsgContent{
	padding:3px;
	background: repeat-x url('BGX.png') 0px -490px #F1F7FE;
	overflow:auto;
}
.jt_PopMsg .MsgContent .OneLine{
	width:100%;
	text-decoration:none; 
	white-space:nowrap; 
	text-overflow:ellipsis; 
	overflow:hidden; 
}

.jtSplitBar_Frame{ border:1px dotted #336699; }
.jtSplitImg{ position:absolute; left: 0; top:45%; }

.TabMenuLite {}

.TabMenuLite .TM_Left, .TabMenuLite .TM_Right, .TabMenuLite .TM_Tab{ display:inline-block; vertical-align:bottom; 
	height:26px;line-height:26px;}
.TabMenuLite .TM_Left, .TabMenuLite .TM_Right, .TabMenuLite .TM_Tab{ *display:inline;}

.TabMenuLite .TM_Tab{position:relative; padding-left:20px; padding-right:20px; cursor:default; margin-right:3px; cursor:pointer;}
.TabMenuLite .TM_Tab_L{position:absolute; left:0px; top:0px; width:6px; height:26px; cursor:pointer;}
.TabMenuLite .TM_Tab_R{position:absolute; right:0px; top:0px; width:6px; height:26px; cursor:pointer;}

/*格式1*/
.jt_TabMenuLite_1 .TM_Tab{
	background: repeat-x url('BGX.png') 0px -740px;
}
.jt_TabMenuLite_1 .TM_Tab_Sel{
	background: repeat-x url('BGX.png') 0px -690px;
}
.jt_TabMenuLite_1 .TM_Tab_L{
	background: repeat-x url('BGX.png') -40px -790px;
}
.jt_TabMenuLite_1 .TM_Tab_R{
	background: repeat-x url('BGX.png') -60px -790px;
}
.jt_TabMenuLite_1 .TM_Tab_Sel .TM_Tab_L{
	background: repeat-x url('BGX.png') 0px -790px;
}
.jt_TabMenuLite_1 .TM_Tab_Sel .TM_Tab_R{
	background: repeat-x url('BGX.png') -20px -790px;
}
.jt_TabMenuLite_1 .TM_Cnt{
	border:1px solid #7DA2CE; margin-top:-1px; 
}
/*格式2*/
.jt_TabMenuLite_2 .TM_Tab{
	background: repeat-x url('BGX.png') 0px -940px;
}
.jt_TabMenuLite_2 .TM_Tab_Sel{
	background: repeat-x url('BGX.png') 0px -890px;
}
.jt_TabMenuLite_2 .TM_Tab_L{
	background: repeat-x url('BGX.png') -40px -990px;
}
.jt_TabMenuLite_2 .TM_Tab_R{
	background: repeat-x url('BGX.png') -60px -990px;
}
.jt_TabMenuLite_2 .TM_Tab_Sel .TM_Tab_L{
	background: repeat-x url('BGX.png') 0px -990px;
}
.jt_TabMenuLite_2 .TM_Tab_Sel .TM_Tab_R{
	background: repeat-x url('BGX.png') -20px -990px;
}
.jt_TabMenuLite_2 .TM_Cnt{
	border:1px solid #7DA2CE; margin-top:-1px; 
}
/*格式0*/
.jt_TabMenuLite_0 .TM_Tab{
	background-color:#F1F6FD; border:1px solid #B8D6FB; border-bottom:1px solid #7DA2CE;
}
.jt_TabMenuLite_0 .TM_Tab_Sel{
	background-color:#C6DFFC; border:1px solid #7DA2CE; border-bottom:1px solid #C6DFFC;
}
.jt_TabMenuLite_0 .TM_Cnt{
	border:1px solid #7DA2CE; margin-top:-1px; 
}

.TreeViewLite xmp.data{display:none;}

.jtTreeViewLite .jtTreeNode {
    cursor:pointer; -moz-user-select: none;
    width:100%;
    white-space: nowrap;
    text-overflow:clip !important; text-overflow:ellipsis; 
	overflow:hidden; /*如果不想自动截段节点字符请把这行删掉*/
}

.jtTreeNode .tnPreBlank,
.jtTreeNode .tnPreExpCol,
.jtTreeNode .tnIconBlank,
.jtTreeNode .tnFolder,
.jtTreeNode .tnLeaf,
.jtTreeNode .tnText{
    height:23px; display:inline-block; vertical-align:middle;
}
.jtTreeNode .tnPreBlank,
.jtTreeNode .tnPreExpCol,
.jtTreeNode .tnIconBlank,
.jtTreeNode .tnFolder,
.jtTreeNode .tnLeaf,
.jtTreeNode .tnText{
	*display:inline;
}
.jtTreeNode .tnPreBlank{width:18px;}
.jtTreeNode .tnPreExpCol{width:18px;}
.jtTreeNode .tnIconBlank{width:20px;}
.jtTreeNode .tnText{ line-height:23px; height:auto;}
.jtTreeNode .tnFolder    {background: no-repeat url('BG.png') 0px -6px;    width:20px;}
.jtTreeNode .tnFolderOpen{background: no-repeat url('BG.png') -50px -6px;  width:20px;}
.jtTreeNode .tnLeaf      {background: no-repeat url('BG.png') -100px -6px; width:20px;}
.jtTreeNode .tnPreExp    {background: no-repeat url('BG.png') -150px -6px;}
.jtTreeNode .tnPreCol    {background: no-repeat url('BG.png') -200px -6px;}
.IE6 .jtTreeNode .tnFolder    {background: no-repeat url('treeview_ie6.gif') 0px -6px;    width:20px;}
.IE6 .jtTreeNode .tnFolderOpen{background: no-repeat url('treeview_ie6.gif') -50px -6px;  width:20px;}
.IE6 .jtTreeNode .tnLeaf      {background: no-repeat url('treeview_ie6.gif') -100px -6px; width:20px;}
.IE6 .jtTreeNode .tnPreExp    {background: no-repeat url('treeview_ie6.gif') -150px -6px;}
.IE6 .jtTreeNode .tnPreCol    {background: no-repeat url('treeview_ie6.gif') -200px -6px;}
.jtTreeViewLite .NodeOver{background-color:#FFF3CB;}
.jtTreeViewLite .NodeFocus{background-color:#99CCFF;}

.NoOverColor .NodeOver{background-color:transparent;}
.NoFocusColor .NodeFocus{background-color:transparent;}


.Icon_Folder .tnFolder    {background: no-repeat url('BG.png') 0px -56px;   }
.Icon_Folder .tnFolderOpen{background: no-repeat url('BG.png') -50px -56px; }
.Icon_Folder .tnLeaf      {background: no-repeat url('BG.png') -100px -56px;}
.Icon_Folder .tnPreExp    {background: no-repeat url('BG.png') -150px -56px;}
.Icon_Folder .tnPreCol    {background: no-repeat url('BG.png') -200px -56px;}
.IE6 .Icon_Folder .tnFolder    {background: no-repeat url('treeview_ie6.gif') 0px -56px;   }
.IE6 .Icon_Folder .tnFolderOpen{background: no-repeat url('treeview_ie6.gif') -50px -56px; }
.IE6 .Icon_Folder .tnLeaf      {background: no-repeat url('treeview_ie6.gif') -100px -56px;}
.IE6 .Icon_Folder .tnPreExp    {background: no-repeat url('treeview_ie6.gif') -150px -56px;}
.IE6 .Icon_Folder .tnPreCol    {background: no-repeat url('treeview_ie6.gif') -200px -56px;}

.Icon_OrgUser .tnFolder    {background: no-repeat url('BG.png') 0px -106px;   }
.Icon_OrgUser .tnFolderOpen{background: no-repeat url('BG.png') -50px -106px; }
.Icon_OrgUser .tnLeaf      {background: no-repeat url('BG.png') -100px -106px;}
.Icon_OrgUser .tnPreExp    {background: no-repeat url('BG.png') -150px -106px;}
.Icon_OrgUser .tnPreCol    {background: no-repeat url('BG.png') -200px -106px;}
.IE6 .Icon_OrgUser .tnFolder    {background: no-repeat url('treeview_ie6.gif') 0px -106px;   }
.IE6 .Icon_OrgUser .tnFolderOpen{background: no-repeat url('treeview_ie6.gif') -50px -106px; }
.IE6 .Icon_OrgUser .tnLeaf      {background: no-repeat url('treeview_ie6.gif') -100px -106px;}
.IE6 .Icon_OrgUser .tnPreExp    {background: no-repeat url('treeview_ie6.gif') -150px -106px;}
.IE6 .Icon_OrgUser .tnPreCol    {background: no-repeat url('treeview_ie6.gif') -200px -106px;}

.Icon_Org .tnFolder    {background: no-repeat url('BG.png') 0px -156px;   }
.Icon_Org .tnFolderOpen{background: no-repeat url('BG.png') -50px -156px; }
.Icon_Org .tnLeaf      {background: no-repeat url('BG.png') -100px -156px;}
.Icon_Org .tnPreExp    {background: no-repeat url('BG.png') -150px -156px;}
.Icon_Org .tnPreCol    {background: no-repeat url('BG.png') -200px -156px;}
.IE6 .Icon_Org .tnFolder    {background: no-repeat url('treeview_ie6.gif') 0px -156px;   }
.IE6 .Icon_Org .tnFolderOpen{background: no-repeat url('treeview_ie6.gif') -50px -156px; }
.IE6 .Icon_Org .tnLeaf      {background: no-repeat url('treeview_ie6.gif') -100px -156px;}
.IE6 .Icon_Org .tnPreExp    {background: no-repeat url('treeview_ie6.gif') -150px -156px;}
.IE6 .Icon_Org .tnPreCol    {background: no-repeat url('treeview_ie6.gif') -200px -156px;}

.NoIcon .tnFolder,
.NoIcon .tnFolderOpen,
.NoIcon .tnLeaf{width:0px;}


.jtToolbarLite{ 
	background: repeat-x url('BGX.png') 0px -1090px; 
    padding:3px 12px;
    height:24px !important; height:30px;
}

.Toolbar_Left, .Toolbar_Right, .TBLSeparator, .TBLItem {
    display:inline-block; vertical-align:middle; cursor:default;
    height:24px; line-height:24px;
}
.Toolbar_Left, .Toolbar_Right, .TBLSeparator, .TBLItem {*display:inline;}
.Toolbar_Right{overflow-y: hidden;}
.TBLItem {padding:0px 5px;}
.TBLItem img{margin: 4px 0; vertical-align:middle;}

.TBLSeparator{ border-left:1px solid #888888; border-right:1px solid white; height:20px; }

.TBLItem_Over{
	border:1px solid #7DA2CE; margin:-1px;
	background: repeat-x url('BGX.png') 0px -1140px; 
}
.TBLItem_Checked{
	border:1px solid red; margin:-1px;
	background: repeat-x url('BGX.png') 0px -1140px; 
}

.TBLSubMenu .TBLItem{display:block !important; display:block; padding:1px 20px 1px 10px; }
.TBLSubMenu .TBLItem_Over{border:none; margin:0px;}
.TBLSubMenu .TBLSeparator{ border:none; border-top:1px solid #AAA; height:1px; width:100%; vertical-align: baseline;}
.TBLSubMenu .TBLItem_Checked{border:none; margin:0px;}

.jtToolbarLite .PopFrame_Cell00{ border:1px solid #7DA2CE; background-color:#F3F7FD;}

#jt_Tip_div{
	position:absolute;
	/*
	filter:Shadow(color=#BBBBBB,direction=135,strength=4);
	padding-right:4px;
	padding-bottom:4px;
	*/
}
/*#jt_Tip_frm{ position:relative; }*/
.jt_Tip_0_0 { background: repeat-x url('BGX.png') -120px -1190px; height:8px; width:8px; }
.IE6 .jt_Tip_0_0 { background: repeat-x url('tip_ie6.gif') -120px 0px; }
.jt_Tip_0_1 { background-color:#FFFFE1; border-top:1px solid black; }
.jt_Tip_0_2 { background: repeat-x url('BGX.png') -140px -1190px; height:8px; width:8px; }
.IE6 .jt_Tip_0_2 { background: repeat-x url('tip_ie6.gif') -140px 0px; }
.jt_Tip_1_0 { background-color:#FFFFE1; border-left:1px solid black; }
.jt_Tip_1_1 { background-color:#FFFFE1;  }
.jt_Tip_1_2 { background-color:#FFFFE1; border-right:1px solid black; }
.jt_Tip_2_0 { background: repeat-x url('BGX.png') -160px -1190px; height:8px; width:8px; }
.IE6 .jt_Tip_2_0 { background: repeat-x url('tip_ie6.gif') -160px 0px; }
.jt_Tip_2_1 { background-color:#FFFFE1; border-bottom:1px solid black; }
.jt_Tip_2_2 { background: repeat-x url('BGX.png') -180px -1190px; height:8px; width:8px; }
.IE6 .jt_Tip_2_2 { background: repeat-x url('tip_ie6.gif') -180px 0px; }


#jt_Tip_Arr { position:absolute; width:18px; height:23px;}

.jt_Tip_Arr_0 {background: repeat-x url('BGX.png') 0px -1190px; }
.IE6 .jt_Tip_Arr_0 {background: repeat-x url('tip_ie6.gif') 0px 0px; }
.jt_Tip_Arr_1 {background: repeat-x url('BGX.png') -30px -1190px; }
.IE6 .jt_Tip_Arr_1 {background: repeat-x url('tip_ie6.gif') -30px 0px; }
.jt_Tip_Arr_2 {background: repeat-x url('BGX.png') -60px -1190px; }
.IE6 .jt_Tip_Arr_2 {background: repeat-x url('tip_ie6.gif') -60px 0px; }
.jt_Tip_Arr_3 {background: repeat-x url('BGX.png') -90px -1190px; }
.IE6 .jt_Tip_Arr_3 {background: repeat-x url('tip_ie6.gif') -90px 0px; }

.jt_Window{}
.jt_Window_Title{
	white-space:nowrap; 
	text-overflow:ellipsis; 
	overflow:hidden; 
	cursor: default;
}
.jt_Window_SysButton{ width:105px; text-align: right; padding-top: 1px; vertical-align:top; }
.jt_WinBtn{display:inline-block; line-height:20px; height:20px; cursor:pointer;}
.jt_WinBtn{*display:inline;}

.jt_Window_Close{  width:46px; background: no-repeat url('BGX.png') 0px -1370px;}
.jt_Window_Hide{   width:46px; background: no-repeat url('BGX.png') 0px -1370px;}
.jt_Window_Refresh{width:26px; background: no-repeat url('BGX.png') -150px -1370px;}
.jt_Window_Max{    width:26px; background: no-repeat url('BGX.png') -100px -1370px;}



.jt_Window_0_0{ background: no-repeat url('BGX.png') 0px -1320px; width: 6px; height:31px; }
.jt_Window_0_1{ background: repeat-x url('BGX.png') 0px -1220px; height:31px; }
.jt_Window_0_2{ background: no-repeat url('BGX.png') -20px -1320px; width: 6px; height:31px; }
.jt_Window_1_0{ background: repeat-y url('BGY.png') -20px 0px; width: 6px; }
.jt_Window_1_1{ text-align:center; }
.jt_Window_1_2{ background: repeat-y url('BGY.png') -40px 0px; width: 6px; }
.jt_Window_2_0{ background: no-repeat url('BGX.png') -40px -1320px; width: 6px; height:6px; line-height: 1px; }
.jt_Window_2_1{ background: repeat-x url('BGX.png') 0px -1270px; height:6px; line-height: 1px; }
.jt_Window_2_2{ background: no-repeat url('BGX.png') -60px -1320px; width: 6px; height:6px; line-height: 1px; }

.noTitle .jt_Window_0_0, .noTitle .jt_Window_0_1, .noTitle .jt_Window_0_2{ height:6px; }
.noTitle table{display:none;}
